title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table.entries, td.entries, th {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

form {
    text-align: center;
}

.current_bal {
    margin-top: auto;
    margin-bottom: 50px;
    margin: 10px
}