{% extends 'base.html' %}

{% block head %}
<title>Payday Calculator</title>
{% endblock %}
    
{% block body %}
    
    
    <form id="myForm" action="/" method="POST">
    <div class="current_bal" id="current_bal" name="current_bal">
      Enter your username:
        <input type="text" name="user_name" id="user_name" value="New user">
      Enter your current checking balance: 
        <input type="text" name="current_balance" id="current_balance" value="0">
    </div>
    <table class="entries">
        <tr>
          <th style="width:100px"></th>
          <th style="width:25px">id</th>
          <th style="width:165px">Expense Name</th>
          <th style="width:165px">Monthly Amount</th>
          <th style="width:100px">Mandatory?</th>
          <th style="width:165px">Amount mandatory</th>
          <th style="width:165px">Date Created</th>
        </tr>
        {% for expense in expenses %}
        <tr>
          <td><a href='/delete/{{expense.id}}'>REMOVE</a></td>
          <td>{{ expense.id }}</td>
          <td>{{ expense.expense_name }}</td>
          <td>{{ expense.monthly_amount }}</td>
          <td>{{ expense.mandatory }}</td>
          <td>{{ expense.amount_mandatory }}</td>
          <td>{{ expense.date_created.date() }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><input type="text" name="expense_name" id="expense_name"></td>
            <td><input type="text" name="monthly_amount" id="monthly_amount"></td>
            <td><input type="checkbox" name="mandatory1" id="mandatory1"></td>
            <td><input type="text" name="amount_mandatory" id="amount_mandatory"></td>
        </tr>
    </table>

    <input type="hidden" name="mandatory" id="mandatory" value="0">

    <script>
        const form        = document.getElementById('myForm');
        const checkbox    = document.getElementById('mandatory1');
        const hiddenInput = document.getElementById('mandatory');
      
        form.addEventListener('submit', (event) => {
          if (!checkbox.checked) {
            hiddenInput.value = "0";
          } else {
             hiddenInput.value = "1";
          }
        });
      </script>
    <!--
    <button style="margin-top: 10px;" name="submit" type="submit0" value="Add Expense" formaction="/">Add Expense</button>
    <button style="margin-top: 10px;" name="submit" type="submit1" value="Compute" formaction="/compute/">Compute</button>
    -->
    <input style="margin-top: 10px;" type="submit" value="Add Expense">
    
    </form>
    <form id="Form2" action="/clear_all" method="POST">
      <button style="margin-top: 10px;" name="submit" type="submit">Clear All User Data</button>
    </form>

    <!-- h2> You have </h2 -->

    <!--
      <form action="/" method="POST">
        <input type="text" name="expense_name" id="expense_name">
        <input type="text" name="monthly_amount" id="monthly_amount">
        <input type="checkbox" name="mandatory" id="mandatory">
        <input type="text" name="amount_mandatory" id="amount_mandatory">
        <input type="submit" value="Add Expense">
      </form>
    -->
{% endblock %}